In [50]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
df = pd.read_csv('Combined_VPN_NonVPN.csv')
print(df.head())
X = df.iloc[:,:-1]
y =df['Label']

   Dst Port  Protocol  Flow Duration  Tot Fwd Pkts  Tot Bwd Pkts  \
0      7000         6          43045             4             5
1     63584         6              1             1             1
2      7000         6          93815             4             5
3     63585         6              1             1             1
4      5353        17      119811476            34             1

   TotLen Fwd Pkts  TotLen Bwd Pkts  Fwd Pkt Len Max  Fwd Pkt Len Min  \
0             41.0           1832.0               41                0
1              0.0              0.0                0                0
2             41.0           1665.0               41                0
3              0.0              0.0                0                0
4          10945.0            355.0              657               90

   Fwd Pkt Len Mean  ...    Fwd Seg Size Min  Active Mean   Active Std  \
0         10.250000  ...                   0         0.00        0.000
1          0.000000  ...                   0         0.00        0.000
2         10.250000  ...                   0         0.00        0.000
3          0.000000  ...                   0         0.00        0.000
4        321.911765  ...                   0   5887718.25  2615219.556

   Active Max  Active Min   Idle Mean    Idle Std    Idle Max   Idle Min  \
0         0.0         0.0         0.0         0.0         0.0        0.0
1         0.0         0.0         0.0         0.0         0.0        0.0
2         0.0         0.0         0.0         0.0         0.0        0.0
3         0.0         0.0         0.0         0.0         0.0        0.0
4   9011009.0   3481402.0  19200000.0  18500000.0  45000000.0  5734751.0

   Label
0    VPN
1    VPN
2    VPN
3    VPN
4    VPN

[5 rows x 79 columns]

In [52]:
X.head()

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
0,7000,6,43045,4,5,41.0,1832.0,41,0,10.250000,...,1,0,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.0
1,63584,6,1,1,1,0.0,0.0,0,0,0.000000,...,0,0,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.0
2,7000,6,93815,4,5,41.0,1665.0,41,0,10.250000,...,1,0,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.0
3,63585,6,1,1,1,0.0,0.0,0,0,0.000000,...,0,0,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.0
4,5353,17,119811476,34,1,10945.0,355.0,657,90,321.911765,...,34,0,5887718.25,2615219.556,9011009.0,3481402.0,19200000.0,18500000.0,45000000.0,5734751.0

In [53]:
y.head()

0    VPN
1    VPN
2    VPN
3    VPN
4    VPN
Name: Label, dtype: object

In [54]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [55]:
clean_dataset(X)
X.replace([np.inf, -np.inf], np.nan, inplace=True)
X = np.nan_to_num(X)

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [88]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs')
model.fit(X, y)
# ypred = model.predict(X)
intercept = model.intercept_
coef = model.coef_
print(intercept, coef)
ypred = model.predict(X)

[-3.65710219e-09] [[-6.67532507e-05 -4.53686698e-08 -1.84411743e-08 -2.80517676e-08
  -1.82761523e-07  2.99796304e-09 -2.26567822e-07 -5.22195738e-07
  -2.84039516e-07 -3.22289835e-07 -9.11107729e-08 -8.42909182e-07
  -3.35752818e-07 -5.04114229e-07 -2.34759459e-07]]

In [48]:
X1=df.iloc[:,0]

X2=df.iloc[:,1]
X=np.column_stack((X1,X2))

In [46]:
len(X)

3106

In [47]:
len(y)

3106

In [87]:
X = df.iloc[:,range(15)]

In [84]:
X.head()

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,Fwd Pkt Len Std,Bwd Pkt Len Max,Bwd Pkt Len Min,Bwd Pkt Len Mean,Bwd Pkt Len Std
0,7000,6,43045,4,5,41.0,1832.0,41,0,10.250000,20.500000,1448,0,366.4,627.07958
1,63584,6,1,1,1,0.0,0.0,0,0,0.000000,0.000000,0,0,0.0,0.00000
2,7000,6,93815,4,5,41.0,1665.0,41,0,10.250000,20.500000,1448,0,333.0,630.34673
3,63585,6,1,1,1,0.0,0.0,0,0,0.000000,0.000000,0,0,0.0,0.00000
4,5353,17,119811476,34,1,10945.0,355.0,657,90,321.911765,121.130875,355,355,355.0,0.00000